<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventHook" version="1.4.39" targetFramework="net461" />
  <package id="FlaUI.Core" version="1.2.0" targetFramework="net461" />
  <package id="FlaUI.UIA2" version="1.2.0" targetFramework="net461" />
  <package id="FlaUI.UIA3" version="1.2.0" targetFramework="net461" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net461" />
</packages>